# =====================================================
# PYTHON
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================================
# VENV
# =====================================================

.venv/
venv/

# =====================================================
# JUPYTER
# =====================================================

.ipynb_checkpoints/

# =====================================================
# STREAMLIT
# =====================================================

.streamlit/

# =====================================================
# ENV
# =====================================================

.env
.env.*
.envrc
!.env.example

# =====================================================
# DATABASE
# =====================================================

*.db
*.sqlite3

# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# VSCODE
# =====================================================

.vscode/

# =====================================================
# HISTORY
# =====================================================

.history/

# =====================================================
# DATA
# =====================================================

data/processed/
data/surveys/

# =====================================================
# SPARK
# =====================================================

spark-warehouse/

# =====================================================
# LOGS
# =====================================================

*.log

# =====================================================
# DOCKER
# =====================================================

postgres_data/
*.pid
*.pid.lock
docker-compose.override.yml
